
#
# RPC login details
#
host=xmr.pool.minergate.com
port=45704

rpcuser=phantomboy100@gmail.com
rpcpass=None


#
# mining details
#

threads=4

# periodic rate for requesting new work, if solution not found
scantime=60


#
# misc.
#

# not really used right now
logdir=/tmp/pyminer

# set to 1, to enable hashmeter output
hashmeter=0


